:root {
    --c-black: #0A090C;
    --c-white: #FFFFFF;
    --c-grey: #F5F5F5;
    --c-beige: #FFDAAC;
    --c-blue: #C5F0FB;
    --font-main: "Lexend Deca", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}

/* admin dashboard */
.admin-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-page-selector {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--c-grey);
}

.admin-page-selector a {
    font-family: var(--font-main);
    font-size: 1.2rem;
    color: var(--c-white);
    background-color: var(--c-black);
    border-radius: 12px;
    text-decoration: none;
    padding: 0.5em 1em;
}

.admin-page-selector a:hover {
    background-color: var(--c-blue);
    color: var(--c-black);
}

#logout-admin {
    width: fit-content;
}

#addProduct {
    display: flex;
    font-family: var(--font-main);
    flex-direction: column;
    gap: 1em;
    width: 75vw;
    margin: 0 auto;
    padding: 1em 4em;
}

#addProduct input {
   font-size: 1rem;
   background: var(--c-grey);
   color: var(--c-black);
   padding: 0.5em;
   border: 1px solid var(--c-black);

}

#editProduct {
    display: flex;
    font-family: var(--font-main);
    flex-direction: column;
    gap: 1em;
    width: 75vw;
    margin: 0 auto;
    padding: 1em 4em;
    border: 2px solid var(--c-grey);
}

#editProduct input {
   font-size: 1rem;
   background: var(--c-grey);
   color: var(--c-black);
   padding: 0.5em;
   border: 1px solid var(--c-blue);

}

.products-grid {
    display: none;
}

#edit {
    width: 100%;
}

#delete {
    width: 100%;
    background-color: red;
}